h1{
    font-size: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
p{
    margin-left: 20%;
    margin-right: 20%;
}
.a{
    font-style: bold;
    font-size: 30px;
}